<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    {% block styles %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/books.ico') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="fixed-top" style="background-color: #FFFF00;">
    <div class="nav-wrapper">
        <div class="brand-logo-div">
            <a href="/" class="brand-logo">
                <img style="max-width:100px; margin-top: -15px; height: 70px" src="{{ url_for('static', filename='images/logo.png') }}">
            </a>
        </div>
    {% block navitems %}{% endblock %}
    </div>
  </nav>

{% block content %}{% endblock %}

<!-- Footer -->
<footer class="py-5" style = "background-color: #FFFF00">
    <div class="container">
        <p class="m-0 text-center text-black">Copyright &copy; Bookfeeds 2018</p>
    </div>
    <!-- /.container -->
</footer>

{% block scripts %}{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>